.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.registration {
  margin: 20px auto;
  width: 700 px;
  border: 1px solid gray;
}

.registration input{
  margin: 5px;
  width: 200px;
}

.go_link {
  margin:20px auto;
  font-size: 35px;
  text-decoration: none;
}
