<% if session[:user_id] %>
  <% @user = current_user %>
  <% @user.is_admin? ? admin = true : admin = false %>
  <% logged_in = true %>
<% else %>
  <% logged_in = false %>
<% end %>


<nav class="nav_bar">
  <ul>
    <% if !@at_home %>
      <li><a id="home_button" class="nav_button" href="/">Home</a></li>
    <% end %>
    <% if logged_in %>
      <li><a id="logout_button" class="nav_button" href="/logout">Logout</a></li>
      <li><a id="add_button" class="nav_button" href="/">Add</a></li>
      <li><a id="profile_button" class="nav_button" href="/users/profile/<%=@user.slug%>">Profile</a></li>
      <% if admin && !@at_admin %>
      <li><a id="admin_button" class="nav_button" href="/admin">Admin</a></li>
      <% end %>
    <% else %>
      <li><a id="reg_button" class="nav_button" href="/register">Register</a></li>
      <li><a id="login_button" class="nav_button" href="/sessions/new">Login</a></li>
    <% end %>
  </ul>
</nav>
