<div class="container">
  <h1>Register for our site</h1>
  <p>Fill out the form below</p>
</div>

<div class="login">
  <form id="login_form" method="POST" action="/welcome">
    <input id="f_name" type="text" name="f_name" placeholder="First Name">
    <br/>
    <input id="l_name" type="text" name="l_name" placeholder="Last Name">
    <br/>
    <input id="email" type="text" name="email" placeholder="email">
    <br/>
    <input id="pwd" type="password" name="pwd_plaintext" placeholder="password">
     <br/>
    <input id="pwd" type="submit" name="submit" value="register">
  </form>
</div>
