<div class="container">

  <!-- Display errors if there are any -->
  <% if @errors %>
    <div class="error_container">
      <span>Oops! Login Failed</span>
      <ul class="errors">
        <li class="error"><%= @errors %></li>
      </ul>
    </div>
  <% end %>

  <!-- Show the login form   -->
  <form id="login_form" method="POST" action="/sessions/new">
    <fieldset>
      <legend>Login</legend>
      Email: <input type="text" id="email" name="email" value="<%= @user.try(:email) %>" placeholder="Your email..."><br/>
      Password: <input type="password" id="pwd" name="password_plaintext"><br/>
      <input type="submit" value="Login">
    </fieldset>
  </form>
</div>
