<div class="container">
<!-- Perhaps swtich to using fieldset and legend tags -->
  <% if @error %>
    <div class="errors-container">
      <span>Login Failed</span>
      <ul class="errors">
        <li class="error"><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <h1>Login</h1>
  <p>Please login below</p>

  <div class="login">
    <form id="login_form" method="POST" action="/sessions/new">
      <input id="email" type="text" name="email" placeholder="email">
      <br/>
      <input id="pwd" type="password" name="password_plaintext" placeholder="password">
       <br/>
      <input id="pwd" type="submit" name="submit" value="Login">
    </form>
  </div>

</div>
