<div class="container">

  <% if @error %>
    <div class="errors-container">
      <span>Login Failed</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Register for our site</h1>
  <p>Fill out the form below</p>

  <div class="registration">
    <form id="registration_form" method="POST" action="/register">
      <input id="f_name" type="text" name="f_name" placeholder="First Name">
      <br/>
      <input id="l_name" type="text" name="l_name" placeholder="Last Name">
      <br/>
      <input id="email" type="text" name="email" placeholder="email">
      <br/>
      <input id="pwd" type="password" name="pwd_plaintext" placeholder="password">
       <br/>
      <input id="pwd" type="submit" name="submit" value="register">
    </form>
  </div>

</div>
