<div class="container">
  <h2>Your are logged in as:</h2>
  <p class="profile_data">
    Name: <%= @logged_in_as.f_name %> <%= @logged_in_as.l_name %>
  </p>
  <p class="profile_data">
    email: <%= @logged_in_as.email %>
  </p>
</div>
